services:
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    image: student-backend:latest
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    environment:
      - MONGO_URL=mongodb://mongo:27017/studentsDB

  frontend:
    image: moz-frontend:latest
    ports:
      - "5173:80"
    depends_on:
      - backend

volumes:
  mongo-data:
